[submodule "SPEC"]
	path = SPEC
	url = https://github.com/Open-Dot-Agents/Agents-Spec.git
[submodule "CLI"]
	path = CLI
	url = https://github.com/Open-Dot-Agents/Agents-CLI.git
[submodule "WORKBENCH"]
	path = WORKBENCH
	url = https://github.com/Open-Dot-Agents/Agents-Workbench.git
